# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
last_handle
misc.xml
need_to_add
will_need_later
problemset.json
user_status.json
KEY_SEC.py